netbeans/**
.settings/**
.project
.buildpath
.idea
nbproject/**
vendor/**
build/build/**
build/coverage/**
cache/**
composer.lock
composer.phar
update-parents.sh
db/**
src/jtl/Connector/Model/AckModelMapping.php
