parameters:
    ignoreErrors:
        -
            message: "#Cannot access offset 'items' on mixed#"
            path: src/Serializer/Subscriber/CrossSellingSubscriber.php
            reportUnmatched: false
    excludePaths:
        analyse:
            - '*/vendor/*'
            - '*/tests/src/*'