<VirtualHost *:80>
  ServerName <YOUR HOST>
  ServerAlias <YOUR ALIAS HOST>
  ServerAdmin root@<YOUR HOST>
  ErrorLog /var/log/apache2/<YOUR HOST>.err
  CustomLog /var/log/apache2/<YOUR HOST>.log combined
  DocumentRoot <YOUR DOCUMENTROOT>
  <Directory "<YOUR DOCUMENTROOT>/<YOUR PROJECT_WEB_DIR>">
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>